
body{background-color:#FFC9CD;
				
}



.header {
	background-color:#FFFFFF;

	text-align: center;



}

.mainBody {
	background-color:#D9B1FF;
	text-align:center;
}

.footer {
	background-color:#FFF6C4;
}


.innerBox {

	background-color:#FFFFFF;
	padding: 1em;
	margin: 1em;
	border-style: solid;
}


.bodyText{
	border-style:solid;
	padding:1em;
	text-align: left;
	width:500px;
}


.col {
	width:30%;

	border-style: solid;
	float: left;

}

.clear {
	clear:both;
}


.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}




